<body>
<div id="content">

header {
    display: grid;
    grid-template-columns: 150px auto;
}
            
        <header>
    . . .
        </footer>
    </div>
#hero { 
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 
    margin-top: -100px;
}
#hero-msg {
    grid-column:2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;

}
#hero-box {
    grid-column:1/4;
    grid-row:1/3;
}
</body>
#logo_link { 
    padding-top: 5px;
    justify-self:center; 
    align-self: center;
}
             
.content1: 
justify-content: center;
align-content: center;
max-width: 1600px;
margin: 0 auto; 

.content2:
justify-items: center;
align-items: center;

.content3:
justify-content: center;
align-content: center;
justify-items: center;
align-items: center;

nav a { 
    text-align: center;}
nav {
    display: flex;
    justify-content: space-around;
}

#hero-msg h1,
#hero-msg h4{
    color: white;
}
.button-box,
main section {
    text-align: center; }
 
<section class="rapids-card">
    <img class="card-img" src="images/rapids.jpg" alt="rafting boat">
    <img class="icon" src="images/oars.png" alt="oars icon">
    <h2>Rapids</h2>
</section>
<div id="background"></div> 
<img class="mountains" src="images/mountains.jpg" alt="Misty mountains">
<section class="msg">
    <h2>More Than Just The Thrill</h2>
    <p>Enjoy the breathtaking scenery. From valleys, meadows, canyons, and high peaks; it's way more than just the rapids. It's a great way to get away from it all and relax amongst all the beauty of the great outdoors. </p>
    <a class='join' href="rivers.html">Join Us</a>
</section>
#background {
    height: 725px;}

body {
    background-color: #2b4162; 
    font-family: Raleway, Arial, Sans-serif;
    font-size: 22px
    margin:0;
    padding:0;
}
h2 {
    margin: 0;
}
header {
    background-color: #0d5e4a;
    text-align: center;
}

nav a:hover {
    padding:1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;
}   
.home-title { 
    text-align: center;
    color: white;
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em
    margin-top: 10px;
}

h4 {  
    text-align: center;
    color: black ;
}

.book, .join {  
    text-align: center;
    color: whitesmoke ;
    text-decoration: 18px;
    padding:15px 30px
    margin-top: 50px;
    border-radius: 5px;

}
.card-img, .mountains {
    width: 100%;
}
.card-img{ 
    border:10px solid #d9c2a3
}
footer {
    background-color: #6f7364;
    padding: 25px 50px;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card-img {
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.msg {
    background-color: #6f7364;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}     
main section img {
    box-sizing: border-box;
}
.book:hover, .join:hover {
    color: whitesmoke ;
}

.msg h2 {  
    background-color: #0d5e4a;
    text-align: left;
    line-height: 1.5em;
    color: whitesmoke ;
    padding: 35px
}

.msg p { 
    text-align: center;
    color: #efc808 ;
    font-size: .8em;
    padding-bottom:25px 50px
}


.logo { width: 120px;}
.icon { width: 90px;}
#hero-img{
    width: 450px;
    text-align: center;
    margin-top:50px;
}
#hero-image img {
    max-width:100%;
    height:auto;
}
nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
    padding: 35px;
}    

footer { 
    text-align: center;
    color: #F08700 ;
    margin-top:200px;

}

footer p {
    text-align: center;
    color: #F08700;
    font-size: 2.2em;
    text-decoration: none;
    
}
footer p a:hover {
    background-color: #0d5e4a;
    text-align: center;
    color: #F08700;
    text-decoration: underline;
}                  
footer .social img {
    padding-top:15px
}
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}