#content {
    max-width:1600px;
    margin:0 auto;
}
header {
    background-color:#2b4162;
    display: grid;
    color: white;
    grid-template-columns:150px auto; 
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;
    color:#ffba42;
    text-decoration: none;
    font-size: 1em;
    padding: 35px;
    transition: background-color 3px;
    min-width: 120px;
} 
nav a:hover,.book:hover,.join:hover {
    background-color:whitesmoke;
    color:#2b4162;
} 
#logo_link { 
    padding-top: 5px;
    justify-self:center; 
    align-self: center;   
}
#background {
    height: 725px;
    background-color:white;
    grid-column: 1/11;
    grid-row: 4/9;}

#hero-img {
    width:100px;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 

}
#hero-box {
    grid-column:1/4;
    grid-row:1/3;
    z-index:-1;
}
#hero-msg {
    grid-column:1/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-msg h1, #hero-msg div,.button-box,main section {
    text-align:center;
}
h4,.msg h2{
    color:white;
}
#hero-msg h4{
    text-align: left;
    color: white;
}
body {
    background-color: #2b4162; 
    font-family: 'Raleway', 'Arial', Sans-serif;
    font-size: 30px;
    margin:0;
    padding:0;
}
#background {
    height:725px;
    background-color:whitesmoke ;
    grid-column: 1/11;
    grid-row: 4/9;
}
.logo { width: 80px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.home-title { 
    text-align: center;
    color: white;
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 1.4 em;
    margin-top: 10px;
}
.home-grid {
    background-color: white;
    display:grid;
    grid-template-columns: repeat(10, 1fr);
}
h2 {
    margin:0;
}
h4 {  
    text-align: center;
    color: white ;
}
.subaruentusiast-card, .camping-card, .rapids-card {
    margin:200px 0;
}
.card-img, .mountains {
    width: 100%;
}
.card-img {
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.msg {
    background-color: #6f7364;
    line-height:1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
.subaruentusiast-card {
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}
.mountains {
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}    
main section img {
    box-sizing: border-box;
}
.msg h2 {  
    background-color: white;
    text-align: left;
    line-height: 1em;
    color: whitesmoke ;
    padding: 50px
}

.msg p { 
    color:#FFF ;
    font-size: .8em;
    padding-bottom:15px;
}
.icon { 
    width: 80px;
    padding-top: 10px;
}

#hero-img {
    width: 100%;
    height: 100%;
}

/* .......... footer.......*/
footer { 
    background-color: whitesmoke;
    color:#0b1e33;
    margin-top:200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 50px;
}

footer a {
    text-align: center;
    color: rgb(6, 6, 6);
    font-size: 1em;
    text-decoration: none;
    
}
footer p {
    font-size: 1em;
}

footer p a:hover {
    background-color:#0b1e33;
    text-align: center;
    color: whitesmoke;
    text-decoration: underline;

} 
footer a:hover { 
    color:#FFF
}                 

footer .social img {
    padding-top: 15px
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .subaruentusiast-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}